// linhas dos ícones
.hamburger .hamburger-line{
  width: 18px;
  height: 2px;
  background-color: #ecf0f1;
  margin-bottom: 3px;
  display: block;
  -webkit-transition: all 0.07s ease-in-out;
  -o-transition: all 0.07s ease-in-out;
  transition: all 0.07s ease-in-out;

  &:last-child {
    margin-bottom: 0;
  }
}

.hamburger-button {
  &:hover {
    background-color: rgba(255, 255, 255, 0.10);
  }

  .hamburger-content-lines {
    width: max-content;
    margin: 5px auto 0;
  }
}

// Tamanho das linhas do hamburger quando ativado (primeira e última)
#hamburger-3.is-active .hamburger-line:nth-child(1),
#hamburger-3.is-active .hamburger-line:nth-child(3){
  width: 8px;
}

#hamburger-3.is-active .hamburger-line {
  margin-bottom: 1px;
}

// Rotação para formar uma seta
#hamburger-3.is-active .hamburger-line:nth-child(1){
  -webkit-transform: translateX(-0px) rotate(-45deg);
  -ms-transform: translateX(0px) rotate(-45deg);
  -o-transform: translateX(0px) rotate(-45deg);
  transform: translateX(0px) rotate(-45deg);
}

#hamburger-3.is-active .hamburger-line:nth-child(3){
  -webkit-transform: translateX(0px) rotate(45deg);
  -ms-transform: translateX(0px) rotate(45deg);
  -o-transform: translateX(0px) rotate(45deg);
  transform: translateX(0px) rotate(45deg);
}