.logged-user {
  max-height: 40px;
}
.avatar-user {
  background: url("/assets/images/avatar-user.png") no-repeat;
  background-size: cover;
  border: 2px solid #a8d6aa;
  padding: 1px;
}

mat-toolbar {
  justify-content: space-between;
}