<mat-toolbar color="primary">
  <div class="hamburger-menu">
    <button type="button" mat-icon-button class="hamburger hamburger-button hamburger-option" id="hamburger-3">
      <mat-icon>
        <div class="hamburger-content-lines">
          <span class="hamburger-line"></span>
          <span class="hamburger-line"></span>
          <span class="hamburger-line"></span>
        </div>
      </mat-icon>
    </button>
  </div>
  <div class="logged-user">
    <button type="button" mat-icon-button class="avatar-user"></button>
  </div>
</mat-toolbar>