<div class="warapp-content">
  <div class="container">
    <div class="row align-self-center">
      <div class="col-md-4">
        <mat-card>
          <mat-card-header>
            <div class="av-logo">
              <img src="assets/images/logo.png">
            </div>
          </mat-card-header>
          <mat-card-content>
            <form>
              <div class="form-group">
                <mat-form-field>
                  <input matInput autofocus placeholder="Usuário">
                  <mat-icon matSuffix>mail</mat-icon>
                </mat-form-field>
              </div>
              <div class="form-group">
                <mat-form-field>
                  <input matInput placeholder="Senha">
                  <mat-icon matSuffix>lock</mat-icon>
                </mat-form-field>
              </div>
              <div class="form-group av-keep-loged-in av-forget-password">
                <mat-checkbox>Lembrar senha</mat-checkbox>
                <a href="#">Esqueceu sua senha?</a>
              </div>
            </form>
          </mat-card-content>
        </mat-card>
        <div class="av-login-buttons">
          <div class="form-group">
            <button class="av-loggin-button" mat-raised-button>Entrar</button>
          </div>
          <div class="form-group">
            <button class="av-facebook-button" mat-raised-button>Acessar com o facebook</button>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
